<div class="container">
  <!-- <div class="row"> -->
  <h2 class="mb-4" style="font-weight: 800;">Terms of Use</h2>
  <h3 class="mb-3">AGREEMENT BETWEEN USER AND HOTELSWAVE.COM</h3>
  <h4>1. General</h4>
  <p>Welcome to the Hotelswave.com website (the "Website"). The terms "we", "us", "our", “hotelswave.com” a Proprietorship Company
    was established in 05.10.2015. The head quarter on the company situated in 32/1, Khan Plaza, 3rd Floor, Science Lab,
    Mirpur Road, Dhaka-1205. Access to our Website, any Hotelswave.com mobile or tablet application, or any other feature
    or other Hotelswave.com platform (collectively the "Platform") is offered to you conditioned upon your acceptance without
    modification of all the terms, conditions, and notices set forth below (collectively, the "Terms"). We recommend that
    you print a copy of these Terms for future reference. Please read these Terms carefully, as they contain important information
    about limitations of liability and resolution of disputes through arbitration rather than in court. You should also read
    our Privacy Policy, which also governs your use of our Platform and sets out the terms on which we may process any personal
    information that we collect about you, or that you provide to us. The Privacy Policy can be found
    <a routerLink="/privacyPolicy">here</a>. By accessing or using our Platform, you acknowledge and agree to have read, understood, and agreed to be legally
    bound by these Terms and our Privacy Policy. If you do not agree to these Terms, please do not use or access our Platform
    or contact our support center
    <a routerLink="/address"> here</a>.
  </p>
  <p> "Trip Provider" means the provider of accommodation (e.g. hotel, motel, apartment, bed & breakfast, landlord), attractions
    (e.g. (theme) parks, museums, sightseeing tours), transportation provider (e.g. car rentals, cruises, rail, airport rides,
    coach tours, transfers), tour operators, travel insurances, and any other travel or related product or service as from
    time to time available for Trip Reservation on the Platform (whether B2B or B2C).
  </p>
  <p>
    "Trip Service" means the online purchase, order, (facilitated) payment or reservation service as offered or enabled by Hotelswave.com
    in respect of various products and services as from time to time made available by Trip Providers on the Platform. "Trip
    Reservation" means the order, purchase, payment, booking or reservation of a Trip.</p>
  <!-- </div> -->

  <h4>2. Changes to the Terms</h4>
  <p>We may amend these Terms from time to time to comply with any regulatory requirements or if there are changes to our business
    practices. Every time you wish to use our Platform, please check these Terms to ensure you understand the terms that
    apply at the time. Your use of our Platform will be subject to the most recent version of the Terms available on the
    Platform. We recommend that you read through the Terms available on the Platform regularly so that you can be sure that
    you are aware of any changes that may apply to you.</p>

  <h4>3. Use of The Website</h4>
  As a condition of your use of this Website, you warrant that:
  <ol>
    <li>You are at least 18 years of age;</li>
    <li>You possess the legal authority to create a binding legal obligation;</li>
    <li>You will use this Website in accordance with these Terms of Use;</li>
    <li>You will only use this Website to make legitimate reservations for you or for another person for whom you are legally
      authorized to act;</li>
    <li>You will inform such other persons about the Terms of Use that apply to the reservations you have made on their behalf,
      including all rules and restrictions applicable thereto;</li>
    <li>All information supplied by you on this Website is true, accurate, current and complete; and</li>
    <li>If you have an Hotelswave.com account, you will safeguard your account information and will supervise and be completely
      responsible for any use of your account by you and anyone other than you.</li>
    <li>We retain the right at our sole discretion to deny access to anyone to this Website and the services we offer, at any
      time and for any reason, including, but not limited to, for violation of these Terms of Use.</li>
  </ol>

  <h4>4. Prohibited Activities</h4>
  The content and information on this Website (including, but not limited to, price and availability of travel services) as
  well as the infrastructure used to provide such content and information, is proprietary to us or our suppliers and providers.
  While you may make limited copies of your travel itinerary (and related documents) for travel or service reservations booked
  through this Website, you agree not to otherwise modify, copy, distribute, transmit, display, perform, reproduce, publish,
  license, create derivative works from, transfer, or sell or re-sell any information, software, products, or services obtained
  from or through this Website. Additionally, you agree not to:
  <ol>
    <li>use this Website or its contents for any commercial purpose;</li>
    <li>make any speculative, false, or fraudulent reservation or any reservation in anticipation of demand;</li>
    <li>access, monitor or copy any content or information of this Website using any robot, spider, scraper or other automated
      means or any manual process for any purpose without our express written permission;</li>
    <li>violate the restrictions in any robot exclusion headers on this Website or bypass or circumvent other measures employed
      to prevent or limit access to this Website;</li>
    <li>take any action that imposes, or may impose, in our discretion, an unreasonable or disproportionately large load on our
      infrastructure;
    </li>
    <li>deep—link to any portion of this Website (including, without limitation, the purchase path for any travel services) for
      any purpose without our express written permission; or</li>
    <li>"frame", "mirror" or otherwise incorporate any part of this Website into any other website without our prior written
      authorization.
    </li>
  </ol>
  <p>
    If your booking or account shows signs of fraud, abuse or suspicious activity, Hotelswave.com may cancel any travel or service
    reservations associated with your name, email address or account, and close any associated Hotelswave.com accounts. If
    you have conducted any fraudulent activity, Hotelswave.com reserves the right to take any necessary legal action and
    you may be liable for monetary losses to Hotelswave.com, including litigation costs and damages. To contest the cancellation
    of a booking or freezing or closure of an account, please contact Hotelswave.com Customer Service
    <a routerLink="/address">
      here</a>.
  </p>

  <h4>5. Privacy and Cookies</h4>
  <p>Hotelswave.com respects your privacy. Please have a look at our
    <a routerLink="/privacyPolicy"> privacy and cookies</a> policy for further information.</p>

  <h4>6. Credit Card or Bank Transfer</h4>
  <p>If applicable and available, certain Trip Providers offer the opportunity for Trip Reservations to be paid (wholly or partly
    and as required under the payment policy of the Trip Provider) to the Trip Provider during the Trip Reservation process
    by means of secure online payment (all to the extent offered and supported by your bank). For certain products and services,
    Hotelswave.com facilitates (through third party payment processors) the payment of the relevant product or service (i.e.
    the payment facilitation service) for and on behalf of the Trip Provider (Hotelswave.com never acts nor operates as the
    merchant of record). Payment is safely processed from your credit/debit card or bank account to the bank account of the
    accommodation provider through a third party payment processor. Any payment facilitated by us for and on behalf of, and
    transferred to the Trip Provider will in each case constitute a payment of (part of) the booking price by you of the
    relevant product or service in final settlement of such (partial) due and payable price and you cannot reclaim such paid
    monies.
  </p>
  <p>
    For certain (non-refundable) rates or special offers, please note that Trip Providers may require that payment is made upfront
    by wire transfer (if available) or by credit card, and therefore your credit card may be pre-authorized or charged (sometimes
    without any option for refund) upon making the Trip Reservation. Please check the (reservation) details of your product
    or service of choice thoroughly for any such conditions prior to making your Trip Reservation. You will not hold Hotelswave.com
    liable or responsible for any (authorized, (allegedly) unauthorized or wrong) charge by the Trip Provider and not (re)claim
    any amount for any valid or authorized charge by the Trip Provider (including for pre-paid rates, no-show and chargeable
    cancellation) of your credit card.
  </p>
  <p>
    In the event of credit card fraud or unauthorized use of your credit card by third parties, most banks and credit card companies
    bear the risk and cover all the charges resulting from such fraud or misuse, which may sometimes be subject to a deductible
    (usually set at EUR 50 (or the equivalent in your local currency)). In the event that your credit card company or bank
    charges the deductible from you because of unauthorized transactions resulting from a reservation made on our Platform,
    we will pay you this deductible, up to an aggregate amount of BDT 5000 (or the equivalent in your local currency). In
    order to indemnify you, please make sure that you report this fraud to your credit card provider (in accordance with
    its reporting rules and procedures) and contact us immediately. Please provide us with evidence of the charged deductible
    (e.g. policy of the credit card company). This indemnification only applies to credit card reservations made using Hotelswave.com's
    secure server and the unauthorized use of your credit card resulted through our default or negligence and through no
    fault of your own while using the secure server.
  </p>

  <h4>7. Pre-Payment, Cancellation, No-Show and Fine Print</h4>
  <p>By making a Trip Reservation with a Trip Provider, you accept and agree to the relevant cancellation and no-show policy
    of that Trip Provider, and to any additional (delivery) terms and conditions of the Trip Provider that may apply to your
    Trip (including the fine print of the Trip Provider made available on our Platform and the relevant house rules of the
    Trip Provider), including for services rendered and/or products offered by the Trip Provider. The relevant (delivery/purchase/use/carrier)
    terms and conditions of a Trip Provider can be obtained with the relevant Trip Provider. The general cancellation and
    no-show policy of each Trip Provider is made available on our Platform on the Trip Provider information pages, during
    the reservation procedure and in the confirmation email or ticket (if applicable). Please note that certain rates, fees
    or special offers are not eligible for cancellation, refund or change. Applicable tax and vat may still be charged by
    the Trip Provider in the event of a no-show or charged cancellation. Please check the (reservation) details of your product
    or service of choice thoroughly for any such conditions prior to making your reservation. Please note that a Trip Reservation
    which requires down payment or (wholly or partly) prepayment may be cancelled (without a prior notice of default or warning)
    insofar the relevant (remaining) amount(s) cannot be collected in full on the relevant due or payment date in accordance
    with the relevant payment policy of the Trip Provider and the reservation. Cancellation and prepayment policies may vary
    per segment, product or service of each Trip.. Please carefully read the fine print (below the Trip types or at the bottom
    of each Trip Provider page on our Platform) and important information in your reservation confirmation for additional
    policies as may be applied by the Trip Provider (e.g. in respect of age requirement, security deposit, non-cancellation/additional
    supplements for group bookings, extra beds/no free breakfast, pets/cards accepted). Late payment, wrong bank, debit or
    credit card details, invalid credit/debit cards or insufficient funds are for your own risk and account and you shall
    not be entitled to any refund of any (non-refundable) prepaid amount unless the Trip Provider agrees or allows otherwise
    under its (pre)payment and cancellation policy. If you wish to review, adjust or cancel your Trip Reservation, please
    revert to the confirmation email and follow the instructions therein. Please note that you may be charged for your cancellation
    in accordance with the Trip Provider's cancellation, (pre)payment and no-show policy or not be entitled to any repayment
    of any (pre)paid amount. We recommend that you read the cancellation, (pre)payment and no-show policy of the accommodation
    provider carefully prior to making your reservation and remember to make further payments on time as may be required
    for the relevant reservation. If you have a late or delayed arrival on the check-in date or only arrive the next day,
    make sure to (timely/promptly) communicate this with the Trip Provider so they know when to expect you to avoid cancellation
    of your Trip (Reservation) or charge of the no-show fee. Our customer service department can help you if needed with
    informing the Trip Provider. Hotelswave.com does not accept any liability or responsibility for the consequences of your
    delayed arrival or any cancellation or charged no-show fee by the Trip Provider.</p>

  <h4>8. Ranking, Stars and Guest Reviews</h4>
  <p>The default setting of the ranking of Suppliers on our Platform is 'Hotelswave.com Recommends' (or any similar wording);
    this is the Default Ranking. Please note that the Default Ranking is created through a complex ever changing and evolving
    system (algorithm) that considers a multitude of criteria in order to match searchers and accommodations in an optimal
    way. The actual ranking will be different for each customer and for each search as there are many criteria included,
    for example the popularity of an accommodation premises among our visitors (e.g. guest reviews), customer service history
    (including the number and type of guest complaints), certain booking-related data (e.g. number of bookings, cancellations,
    conversion rate, overbookings, availability, etc.) and the (past) browsing activities of a visitor. On-time payment of
    commission by an accommodation and the commission percentage are also included in the algorithm of the Default Ranking.
    Please note that for convenience we also offer other ways to rank Suppliers. A customer can choose to rank for example
    an accommodation on the basis of lowest price first, review scores, accommodation type (etc.). A customer thus has full
    control on the presentation of the search results.</p>
  <p>In certain cities and regions, Hotelswave.com operates a preferred partnership program, allowing certain Trip Providers
    that meet and maintain the preferred program terms to be listed ahead of the rest of the Trip Providers in the default
    “Recommended” ranking for the relevant city/region. The preferred Trip Providers are marked with a “thumbs-up” symbol
    and in return for this high ranking, the preferred Trip Provider pays a higher commission. Only Trip Providers that meet
    and maintain certain qualification criteria can be listed as preferred.</p>
  <p>Accommodation's star rating displayed on Hotelswave.com is not determined by Hotelswave.com. The accommodation determines
    their star rating themselves or it is determined by an independent third party provider of (objective) star ratings.
    Deals are shown on the basis of the number of stars (low to high or high to low) that providers provide to Hotelswave.com.
    Depending on the (local) regulations, the star classifications either are assigned by an (independent) third party, for
    example an (official) hotel rating organization or are based on the opinion of the accommodation providers themselves,
    irrespective of objective criteria. Hotelswave.com does not impose formal obligations on star ratings and does not review
    them. Overall, the star classification is a representation of how the accommodation compares to the legal requirements
    (if applicable) or, if not regulated, the sector or (customary) industry standards in terms of price, facilities and
    available services (these requirements and standards can vary between different countries and organizations).</p>
  <p>Only customers who have stayed at the Accommodation will be invited by Hotelswave.com to comment on their stay at the relevant
    accommodations and to provide a score for certain aspects of their stay or may receive a rating request during their
    stay. The completed guest review (including submitted rating during your stay) may be (a) uploaded onto the relevant
    Trip Provider's information page on our Platform for the sole purpose of informing (future) customers of your opinion
    of the service (level) and quality of the Trip Provider, and (b) (wholly or partly) used and placed by Hotelswave.com
    at its sole discretion (e.g. for marketing, promotion, or improvement of our service) on our Platform or such social
    media platforms, newsletters, special promotions, apps, or other channels owned, hosted, used, or controlled by Hotelswave.com
    and our business partners.</p>
  <h4>9. Copyright and Trademark Notices</h4>
  <p>All contents of this Website are © Copyright Hotelswave.com All rights reserved. </p>
  <h4>10. Account Termination</h4>
  <p>In accordance with the applicable law, Hotelswave.com has adopted a policy of terminating, in appropriate circumstances
    and at Hotelswave.com's sole discretion, subscribers or account holders who are deemed to be repeat infringers. Hotelswave.com
    may also at its sole discretion limit access to the Website and/or terminate the accounts of any users who infringe any
    intellectual property rights of others, whether or not there is any repeat infringement. If you believe that an account
    holder or subscriber is a repeat infringer, please provide information sufficient for us to verify that the account holder
    or subscriber is a repeat infringer when filing your notice. </p>
  <h4>11. Patent Notices </h4>
  <p>One or more patents owned by the Companies may apply to this Website and to the features and services accessible via the
    Website. </p>
</div>